@font-face {
    font-family: ShareTech;
    src: url(ShareTech-Regular.ttf);
}

* {
    color: white;
    font-size: 1.5vmax;
    font-family: ShareTech;
}

body{
    background-image: url(Imagens/wallpaper.webp);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header{
    height: 15vh;
    width: 100%;
    background: rgb(0 ,0 ,0 , 0.5);
    border: 0.5vh solid white;
    border-radius: 30px;
    font-size: 14vmin;
}

section{
    overflow: hidden;
    height: 60vh;
    width: 20%;
    margin-top: 5vh;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
}

.pag1_link, .pag2_link, .pag3_link{
    width: 80%;
    height: 8vh;
    margin-left: 10%;
    margin-top: 3vh;
    font-size: 2.5vmax;
    text-align: center;
    border-radius: 30px;
    padding: 0.5vh;
    box-sizing: border-box;
    background: rgb(0 ,0 ,0 , 0.5);
    border: 0.5vh solid white;
}

.pag1_link:hover, .pag2_link:hover, .pag3_link:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(255 ,255 ,255);
}

a{
    text-decoration: none;
}

aside{
    overflow: hidden;
    height: 60vh;
    width: 20%;
    font-size: 1.5vmax;
    margin: 5vh;
    float: right;
    background: rgb(0 ,0 ,0, 0.5);
    border: 0.5vh solid white;
    border-radius: 30px;
}


@media(max-width:100vh) {
    * {
        font-size: 4vmax;
    }
    section{
        width: 100%;
        margin: 0;
    }
    aside{
        overflow: hidden;
        height: 60vh;
        width: 80%;
        font-size: 3.5vmax;
        margin: 5vmax;
        float: right;
    }
    .pag1_link, .pag2_link, .pag3_link{
        font-size: 4vmax;
    }
}